/* -----------------------------------------
   SIERRA
----------------------------------------- */
:root {
  --color-p1: #fbad23;
  --color-p1-dark: #fba60f;
  --color-p1-darker: #f69f04;
  --color-p1-darkest: #d38804;
  --color-p1-light: #fcbd4f;
  --color-p1-lighter: #fdce7b;
  --color-p1-lightest: #fddea7;
  --color-p2: #476;
  --color-p2-dark: #3d6a5b;
  --color-p2-darker: #376053;
  --color-p2-darkest: #2a4a3f;
  --color-p2-light: #699285;
  --color-p2-lighter: #8fada3;
  --color-p2-lightest: #b4c9c2;
  --color-p3: #194949;
  --color-p3-dark: #143a3a;
  --color-p3-darker: #102e2e;
  --color-p3-darkest: #071414;
  --color-p3-light: #476d6d;
  --color-p3-lighter: #759292;
  --color-p3-lightest: #a3b6b6;
  --color-s1: #e8f1ee;
  --color-s1-darker: #deebe7;
  --color-s1-lighter: #f4f8f7;
  --color-s2: #daefe8;
  --color-s2-dark: #c1e4d9;
  --color-s2-darker: #a8d9c9;
  --color-s3: #a1cca1;
  --color-s3-dark: #8abf8a;
  --color-s3-light: #c7e0c7;
  --color-s3-lighter: #d9ebd9;
  --sub-nav-bg: var(--color-s1-lighter);
  --mobile-drawer: var(--color-p3);
  --mobile-drawer-active: var(--color-p3-light);
}
