/* -----------------------------------------
   SACRAMENTO
----------------------------------------- */
:root {
  --color-p1: #7bb0da;
  --color-p1-dark: #6ba6d6;
  --color-p1-darker: #5f9fd2;
  --color-p1-darkest: #438fca;
  --color-p1-light: #95c0e1;
  --color-p1-lighter: #b0d0e9;
  --color-p1-lightest: #cadff0;
  --color-p2: #153554;
  --color-p2-dark: #112b44;
  --color-p2-darker: #0e2337;
  --color-p2-darkest: #07111b;
  --color-p2-light: #445d76;
  --color-p2-lighter: #738698;
  --color-p2-lightest: #a1aebb;
  --color-p3: #730000;
  --color-p3-dark: #5f0000;
  --color-p3-darker: #4f0000;
  --color-p3-darkest: #2c0000;
  --color-p3-light: #8f3333;
  --color-p3-lighter: #ab6666;
  --color-p3-lightest: #c79999;
  --color-s1: #e1ecf7;
  --color-s1-darker: #d5e4f4;
  --color-s1-lighter: #f0f6fb;
  --color-s2: #c7d9ea;
  --color-s2-dark: #adc7e0;
  --color-s2-darker: #93b6d7;
  --color-s3: #9bb8d3;
  --color-s3-dark: #82a6c8;
  --color-s3-light: #c3d4e5;
  --color-s3-lighter: #d7e3ed;
  --sub-nav-bg: var(--color-s1-lighter);
  --mobile-drawer: var(--color-p2);
  --mobile-drawer-active: var(--color-p2-light);
}
