/* -----------------------------------------
   SACRAMENTO COLOR THEME
----------------------------------------- */

:root {
  /* color variations are hardcoded for older browsers
 color-mix is used for the newer browsers */

  /* Highlight */
  --color-p1: #7bb0da;
  --color-p1-dark: #6ba6d6;
  --color-p1-darker: #5f9fd2;
  --color-p1-darkest: #438fca;
  --color-p1-light: #95c0e1;
  --color-p1-lighter: #b0d0e9;
  --color-p1-lightest: #cadff0;

  /* Primary */
  --color-p2: #153554;
  --color-p2-dark: #112b44;
  --color-p2-darker: #0e2337;
  --color-p2-darkest: #07111b;
  --color-p2-light: #445d76;
  --color-p2-lighter: #738698;
  --color-p2-lightest: #a1aebb;

  /* Standout */
  --color-p3: #343b4b;
  --color-p3-dark: #2c323f;
  --color-p3-darker: #252a36;
  --color-p3-darkest: #171a21;
  --color-p3-light: #5d626f;
  --color-p3-lighter: #858993;
  --color-p3-lightest: #aeb1b7;

  /* Secondary 1 */
  --color-s1: #f5f5f5;
  --color-s1-darker: #ededed;
  --color-s1-lighter: #fafafa;

  /* Secondary 2 */
  --color-s2: #ccc;
  --color-s2-dark: #bababa;
  --color-s2-darker: #a8a8a8;

  /* Secondary 3 */
  --color-s3: #e6dcdc;
  --color-s3-dark: #d7c7c7;
  --color-s3-light: #f0eaea;
  --color-s3-lighter: #f5f1f1;

  /* Megamenu sub navigation background */
  --sub-nav-bg: var(--color-s1-lighter);

  /* Mobile navigation drawer background */
  --mobile-drawer: var(--color-p2);
  --mobile-drawer-active: var(--color-p2-light);
}

/* color-mix is used for the newer browsers */
@supports (color: color-mix) {
  :root {
    --color-p1-dark: color-mix(in srgb, var(--color-p1), #000 15%);
    --color-p1-darker: color-mix(in srgb, var(--color-p1), #000 30%);
    --color-p1-darkest: color-mix(in srgb, var(--color-p1), #000 60%);
    --color-p1-light: color-mix(in srgb, var(--color-p1), #fff 15%);
    --color-p1-lighter: color-mix(in srgb, var(--color-p1), #fff 30%);
    --color-p1-lightest: color-mix(in srgb, var(--color-p1), #fff 60%);
    --color-p2-dark: color-mix(in srgb, var(--color-p2), #000 15%);
    --color-p2-darker: color-mix(in srgb, var(--color-p2), #000 30%);
    --color-p2-darkest: color-mix(in srgb, var(--color-p2), #000 60%);
    --color-p2-light: color-mix(in srgb, var(--color-p2), #fff 15%);
    --color-p2-lighter: color-mix(in srgb, var(--color-p2), #fff 30%);
    --color-p2-lightest: color-mix(in srgb, var(--color-p2), #fff 60%);
    --color-p3-dark: color-mix(in srgb, var(--color-p3), #000 15%);
    --color-p3-darker: color-mix(in srgb, var(--color-p3), #000 30%);
    --color-p3-darkest: color-mix(in srgb, var(--color-p3), #000 60%);
    --color-p3-light: color-mix(in srgb, var(--color-p3), #fff 15%);
    --color-p3-lighter: color-mix(in srgb, var(--color-p3), #fff 30%);
    --color-p3-lightest: color-mix(in srgb, var(--color-p3), #fff 60%);
    --color-s1-darker: color-mix(in srgb, var(--color-s1), #000 5%);
    --color-s1-lighter: color-mix(in srgb, var(--color-s1), #fff 10%);
    --color-s2-dark: color-mix(in srgb, var(--color-s2), #000 15%);
    --color-s2-darker: color-mix(in srgb, var(--color-s2), #000 30%);
    --color-s3-dark: color-mix(in srgb, var(--color-s3), #000 15%);
    --color-s3-light: color-mix(in srgb, var(--color-s3), #fff 45%);
    --color-s3-lighter: color-mix(in srgb, var(--color-s3), #fff 60%);
    --sub-nav-bg: var(--color-s1-lighter);
    --mobile-drawer: var(--color-p2);
    --mobile-drawer-active: var(--color-p2-light);
  }
}
